In [1]:
for num in range(21):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
for num in range(10, 20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [3]:
list2 = [10, 20, 14, 55, 43, 87, 76]
print("List2:", list2)
print("Number of items in the List2:", len(list2))

List2: [10, 20, 14, 55, 43, 87, 76]
Number of items in the List2: 7

In [5]:
text = "Artificial Intelligence"
print("Artificial Intelligence")
for char in text:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
name = input("Enter your name: ")
age = input("Enter your age: ")
profession = input("Enter your profession: ")

# Print the inputs
print("-Your Name-")
print(name)
print("-Your Age-")
print(age)
print("-Your Profession-")
print(profession)

Enter your name:  SAI
Enter your age:  24
Enter your profession:  CSE

-Your Name-
SAI
-Your Age-
24
-Your Profession-
CSE

In [7]:
mixed_tuple = (1, 'Welcome', 2, 'Hope')
print(mixed_tuple)

(1, 'Welcome', 2, 'Hope')

In [8]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
print(Tuple1, Tuple2)

(0, 1, 2, 3) ('python', 'HOPE')

In [9]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)

print("Print Odd Numbers in the list:")
for num in numbers:
    if num % 2 != 0:
        print(num, "is odd")

Print Odd Numbers in the list:
19 is odd
25 is odd
1 is odd

In [11]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)

print("Print Even Numbers in the list:")
for num in numbers:
    if num % 2 == 0:
        print(num, "is odd")

Print Even Numbers in the list:
20 is odd
10 is odd
16 is odd
276 is odd
188 is odd