In [10]:
print("HOPE AI")

HOPE AI

In [12]:
institute_name = input("Enter your institute name? : ")
print("You entered institute name:", institute_name)

Enter your institute name? :  HOPE AI

You entered institute name: HOPE AI

In [3]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")
print("Name:", name)
print("Age:", age)
print("School Name:", school_name)
print("Degree:", degree)

Enter your name:  Raj
Enter your age:  15
Enter your school name:  Guru school
Enter your degree:   B.E CSE

Name: Raj
Age: 15
School Name: Guru school
Degree:  B.E CSE

In [4]:
a = 43
b = 34
add = a + b
print("The sum of", a, "and", b, "is:", add)

The sum of 43 and 34 is: 77

In [9]:
num1 = float(input("Enter the a: "))
num2 = float(input("Enter the b: "))
add = a + b
print(" add is : ",add)

Enter the a:  43
Enter the b:  34

 add is :  77

In [14]:
num1 = float(input("Enter the a: "))
num2 = float(input("Enter the b: "))
sub = a - b
print(" sub is : ",sub)

Enter the a:  43
Enter the b:  34

 sub is :  9

In [15]:
num1 = float(input("Enter the a: "))
num2 = float(input("Enter the b: "))
mul = a * b
print(" mul is : ",mul)

Enter the a:  63
Enter the b:  97

 mul is :  1462

In [16]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
float_division_result = a / b
print("Float Div =", float_division_result)

Enter the value of a:  76
Enter the value of b:  31

Float Div = 2.4516129032258065

In [18]:
a = float(input("Enter the value of a:: "))
b = float(input("enter the value of b: "))
result = a // b
print("Floor Division:", result)

Enter the first number:  76
Enter the second number:  31

Floor Division: 2

In [19]:
a = float(input("enter the value of a: "))
b = float(input("enter the value of b: "))
result = a % b
print("Modulo:", result)

Enter the first number:  76
Enter the second number:  31

Modulo: 14

In [20]:
a = float(input("nter the value of a: "))
b = float(input("nter the value of b: "))
power = a ** b
print("power:", power)

Enter the base:  4
Enter the exponent:  4

Result: 256.0