In [10]:
print("HOPE AI")

HOPE AI

In [17]:
institute_name = input("Enter your institute_name: ",)
print("Your institute_name is:", institute_name)

Enter your institute_name:  HOPE AI

Your institute_name is: HOPE AI

In [18]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")
print("Name:", name)
print("Age:", age)
print("School Name:", school_name)
print("Degree:", degree)

Enter your name:   Raj
Enter your age:  15
Enter your school name:  Guru school
Enter your degree:   B.E CSE

Name:  Raj
Age: 15
School Name: Guru school
Degree:  B.E CSE

In [4]:
a = 43
b = 34
add = a + b
print("The sum of", a, "and", b, "is:", add)

The sum of 43 and 34 is: 77

In [20]:
num1 = int(input("Enter the a: "))
num2 = int(input("Enter the b: "))
add = num1 + num2
print("The sum is:", add)

Enter the a:  43
Enter the b:  34

The sum is: 77

In [22]:
num1 = int(input("Enter the a: "))
num2 = int(input("Enter the b: "))
sub = num1 - num2
print(" sub is : ",sub)

Enter the a:  43
Enter the b:  34

 sub is :  9

In [24]:
num1 = int(input("Enter the a: "))
num2 = int(input("Enter the b: "))
mul = num1 * num2
print(" mul is : ",mul)

Enter the a:  63
Enter the b:  97

 mul is :  6111

In [16]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
float_division_result = a / b
print("Float Div =", float_division_result)

Enter the value of a:  76
Enter the value of b:  31

Float Div = 2.4516129032258065

In [18]:
a = float(input("Enter the value of a:: "))
b = float(input("enter the value of b: "))
result = a // b
print("Floor Division:", result)

Enter the first number:  76
Enter the second number:  31

Floor Division: 2

In [26]:
num1= int(input("enter the value of a: "))
num2= int(input("enter the value of b: "))
result = num1 % num2
print("Modulo:", result)

enter the value of a:  76
enter the value of b:  31

Modulo: 14

In [27]:
num1= int(input("nter the value of a: "))
num2= int(input("nter the value of b: "))
power = num1 ** num2
print("power:", power)

nter the value of a:  4
nter the value of b:  4

power: 256